

  .search-fld {
    width: 46%;
    border: none;
    background: #f7f9fc;
    padding-left: 30px;
    margin-left: 10px;
    border-radius: 4px;
    height: 34px;
    position: relative;
    top: 9px;
    left: 16px;
    padding-bottom: 5px;
    font-size: 12px;
    &:focus {
      border: 1px solid #0091ff;
      background-color: #ebf6ff;
    }
    &:hover {
      background-color: #edeef0;
    }
}


.search-result-section {
  ul {
    padding: 0;
    background: #ffffff;
    margin-bottom: 0;

    li {
      list-style: none;
      position: relative;
      &:hover {
        background: #ebf6ff;
      }

      .list-items {
        display: grid;
        position: absolute;
        top: 8px;
        left: 55px;
        font-size: 13px;
      }

    }
  }
}


.spanlength {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  // font-weight: bold !important;
}
.spanlengthAccount {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-top: 9px !important;
  font-weight: bold !important;
  cursor: pointer;
}




